<div class="custom-font span6 offset3 text-center boxy">

<h2 class="cool-font-small">Upload Your Stuff</h2>

<%= simple_form_for @pic do |f| %>
	<%= f.input :hour, label: 'Which Hour', placeholder: 'Enter the Hour' %>
	<%= f.input :image, :as => :file %>
	<%= f.input :emotion, label: 'How did you feel?', placeholder: 'Happy, Stoked, Awesome' %>
	<%= f.input :learned, label: 'What did you learn?', placeholder: 'CSS, HTML5, CSS, Rails, Ruby, Computer Things', :input_html => {rows: '3'} %>
<br></br>

	<%= submit_tag 'Submit', :class => 'btn btn-success btn-large' %>
<% end %>
</div>